li{
   list-style: none;
   padding: 20px;
   margin: 10px;
}
ul{
    
}
.quoted{
    float: right;
    top:200px;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 2px 3px 3px   rgba(0, 0, 0, .2);
    margin-bottom: 20px;
    /* height: 400px; */

}
.inputed{
    top: 200px;
    position: fixed;
    box-shadow: 2px 3px 3px   rgba(0, 0, 0, .2);
    background-color: rgba(119, 115, 115, 0.3);
    
}
.inputted:hover{
    background-color: rgba(70, 69, 69, 0.3);
}
body{
    background-image: linear-gradient(to bottom right, rgb(214, 180, 180), rgb(185, 191, 223));
    min-height: 10000px;
    

}
.like{
    width: 50px;
    height: 50px;
    background-color: rgb(52, 185, 92);
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 0 rgba(0, 0, 0, .2);
    margin: 10px;
}
.like:hover{
    background-color: rgb(0, 255, 76);
}
.Dislike{
    width: 50px;
    height: 50px;
    background-color: rgb(185, 52, 52);
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 0 rgba(0, 0, 0, .2);
    margin: 10px;
    margin-left: 100px;
    top: -67px;
}
.Dislike:hover{
    background-color: rgb(255, 0, 0);
}
.highlight{
    font-size: 14px;
    font-family: 'Italiana', serif;
    font-weight: bold;
    color: #e3e3e3;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .3);
}
