<div class="container-fluid">
    <div class="row">
        <form (ngSubmit)='submitQuote()' #quoteForm = 'ngForm'>
          <!-- Quote Form -->
            <div class="form-group">

                <label for="author"></label>
                <input type="text" required class="form-control" id="name" [(ngModel)] = "newQuote.author" name = "name" #name="ngModel" required placeholder="Name of Author" >
                <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                    <p> Author is Required</p>
                    
                </div>
            </div>
            <div class="form-group">

                <label for="name"></label>
                <textarea class="form-control" id="description" rows="2" [(ngModel)]="newQuote.name" name = "author" #description = "ngModel" required placeholder="What's on your mind?"></textarea>
                <div 
                    [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <p> Name is Required</p>
                    
                </div>
                <!-- Testing if it works -->
                <!-- Display : {{newQuote.name}} -->
            </div>
            <button type="submit" class=" btn-lg submit">Post</button>
        </form>
    </div>
</div>
